target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr
.vscode/

# Ignore application.properties (sensitive configuration)
src/main/resources/application.properties
application.properties
