# Global Git Ignore Rules for ARC Workspace

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Frontend
node_modules/
dist/
dist-ssr/
.eslintcache
*.tsbuildinfo

# Backend
target/
*.class
apache-maven-*/
maven.zip
application.properties
**/application.properties
pom.xml


# Logs
*.log
