target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.classpath
.project
.settings/
*.log

# Spring Boot configuration & secrets
src/main/resources/application.properties
application.properties
**/application.properties
**/application*.properties
!src/test/resources/application-test.properties
